<!DOCTYPE html>
<head>
  <title>Todo App</title>
  <style>
    #body{
    background-image: url("https://media.istockphoto.com/photos/blank-notebook-and-pencil-with-todo-list-picture-id620725324");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
  }
  .todo-container {
    color: white;
    position: absolute;
    top: 71%;
    left: 72%;
    padding: 20px;
    width: 469px;
    transform: translate(-50%, -50%);
    background-image: url(https://previews.123rf.com/images/vkulieva/vkulieva1602/vkulieva160200007/52452427-seamless-pattern-for-todo-list-universal-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .todo {
    width: 400px;
  }
  .todo-container h2 {
    padding: 10px;
    font-family: "Candal", sans-serif;
    font-size: 2em;
  }
  .todo-header input {
    width: 82%;
    border: none;
    border-radius: 5px;
    height: 34px;
    font-family: "Candal", sans-serif;
    padding-left: 10px;
  }
  .todo-header button {
    color: white;
    border-radius: 0%;
    cursor: pointer;
    padding: 7px;
    background-color: rgb(51, 212, 100);
  }
  .todo-container ul {
    list-style: none;
  }
  .todo-container ul.todo-list {
    padding-left: 10px;
  }
  .todo-list-item {
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-family: "Candal", sans-serif;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: row;
  }
  .todo-list-item form {
    width: 100%;
    display: flex;
  }
  .todo-list-item input {
    flex-grow: 2;
    margin-right: 20px;
    border: none;
    border-radius: 5px;
    font-family: "Candal", sans-serif;
  }

  .todo-list-item button,a {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: "Candal", sans-serif;
    background-color: rgb(51, 212, 100);
  }
  .todo-list-item .cancel {
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    font-family: "Candal", sans-serif;
    background-color: rgb(223, 43, 43);
    margin-left: 5px;
    text-decoration: none;
  }
  .todo-list-item div {
    flex-grow: 2;
  }
  .todo-list-item .edit {
    padding-top: 2px;
    padding-right: 6px;
    cursor: pointer;
    padding-left: 4px;
    background-color: orange;
    color: white;
    padding: top;
    font-size: 12px;
    margin-right: 4px;
    width: 43px;
    font-size: 14px;
    text-decoration: none;
}
  .todo-list-item .remove {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
    cursor: pointer;
    padding-left: 4px;
    background-color: red;
    color: white;
    padding: top;
    font-size: 12px;
    margin-right: 4px;
    width: 43px;
    font-size: 14px;
    text-decoration: none;
  }
  .todo-list-item input.editTask {
   padding-left: 5px;
  }
  
  
  </style>
</head>
<body id="body">
  <div class="todo-container">
    <h2>To-Do List</h2>
    <div class="todo">
      <form action="" method="POST" class="todo-header">
        <input type="text" name="content" placeholder="Add new task"/>
        <button type="submit">ADD</button>
      </form>
      <ul class="todo-list">
        <% todoTasks.forEach(details => { %> <% if (details._id == idTask) { %>
        <li class="todo-list-item">
          <form action="/edit/<%= details._id %>" method="POST">
            <input type="text" value="<%= details.content %>" name="content" class="editTask" />
            <button type="submit">Update</button>
            <a href="/" class="cancel">Cancel</a>
          </form>
        </li>
        <% } else { %>
        <li class="todo-list-item">
          <div class="todo-list-item-name"><%= details.content %></div>
          <a href="/edit/<%= details._id %>" class="edit">
            Update
          </a>
          <a href="/remove/<%= details._id %>" class="remove">
            Cancel
          </a>
        </li>
        <% } %> <% }) %>
      </ul>
    </div>
  </div>
</body>
